Lesson8/Lesson8-flows.json
[{"id":"7accdfd1.f3ed3","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"eb700dd3.8d4fb8","type":"change","z":"7accdfd1.f3ed3","name":"less than","rules":[{"t":"set","p":"payload","pt":"msg","to":"Less than 0.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":420,"wires":[["a97c3816.7d6428"]]},{"id":"dcbe4a12.f5aad","type":"switch","z":"7accdfd1.f3ed3","name":"coin toss","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"str"},{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":100,"y":340,"wires":[["e3f991b0.8c3e3"],["eb700dd3.8d4fb8"]]},{"id":"d4a207c.c9a5c78","type":"function","z":"7accdfd1.f3ed3","name":"random","func":"msg.payload = Math.random();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":280,"wires":[["dcbe4a12.f5aad"]]},{"id":"3f844d3a.4fa9da","type":"inject","z":"7accdfd1.f3ed3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":220,"wires":[["d4a207c.c9a5c78"]]},{"id":"174772a8.83fdbd","type":"debug","z":"7accdfd1.f3ed3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":520,"wires":[]},{"id":"e3f991b0.8c3e3","type":"change","z":"7accdfd1.f3ed3","name":"more than","rules":[{"t":"set","p":"payload","pt":"msg","to":"More than 0.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":340,"wires":[["a97c3816.7d6428"]]},{"id":"58ff6efa.0b9c4","type":"change","z":"7accdfd1.f3ed3","name":"C -> F","rules":[{"t":"set","p":"payload.temperature","pt":"msg","to":"(9*payload.temperature/5)+32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":600,"wires":[["174772a8.83fdbd"]]},{"id":"fe86b3f2.f7aba8","type":"range","z":"7accdfd1.f3ed3","minin":"0","maxin":"100","minout":"32","maxout":"212","action":"scale","round":false,"property":"payload.temperature","name":"C -> F","x":90,"y":480,"wires":[["174772a8.83fdbd"]]},{"id":"f5f79c9e.c2d308","type":"inject","z":"7accdfd1.f3ed3","name":"37 C","props":[{"p":"payload.temperature","v":"37","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":540,"wires":[["fe86b3f2.f7aba8","58ff6efa.0b9c4"]]},{"id":"a97c3816.7d6428","type":"rbe","z":"7accdfd1.f3ed3","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":420,"wires":[["174772a8.83fdbd"]]}]