Lesson7/Lesson7-flows.json
[{"id":"4b51b902.1da438","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5f40e852.5b5db","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4ca26378.64a9c4","type":"arduino-board","z":"","device":"COM3"},{"id":"65c0e25f.e82ccc","type":"inject","z":"4b51b902.1da438","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HeY tHeRe!","payloadType":"str","x":710,"y":100,"wires":[["8cf54ba6.5f7f58"]]},{"id":"fdffa3f4.1c6d98","type":"debug","z":"4b51b902.1da438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":180,"wires":[]},{"id":"8cf54ba6.5f7f58","type":"lower-case","z":"4b51b902.1da438","name":"","x":890,"y":100,"wires":[["fdffa3f4.1c6d98"]]},{"id":"a9d03ede.25fe5","type":"inject","z":"4b51b902.1da438","name":"38 C","props":[{"p":"payload.temperature","v":"38","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":710,"y":180,"wires":[["f8c8b8f6.75265"]]},{"id":"f8c8b8f6.75265","type":"change","z":"4b51b902.1da438","name":"C -> F","rules":[{"t":"set","p":"payload.temperature","pt":"msg","to":"(9*payload.temperature/5)+32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["fdffa3f4.1c6d98"]]},{"id":"b995b9f4.18c108","type":"range","z":"4b51b902.1da438","minin":"32","maxin":"212","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload.temperature","name":"F -> C","x":890,"y":260,"wires":[["fdffa3f4.1c6d98"]]},{"id":"21b7f265.d66ebe","type":"function","z":"5f40e852.5b5db","name":"Toggle","func":"context.level = !context.level || false;\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":740,"wires":[["558c5266.2ed5fc"]]},{"id":"87205eb.9c5bc2","type":"arduino out","z":"5f40e852.5b5db","name":"green-led","pin":"13","state":"OUTPUT","arduino":"4ca26378.64a9c4","x":680,"y":420,"wires":[]},{"id":"21af09db.9062c6","type":"inject","z":"5f40e852.5b5db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":520,"wires":[["21b7f265.d66ebe","fa48b328.b11d38","476ef7de.af50f"]]},{"id":"9c47fd29.43375","type":"arduino out","z":"5f40e852.5b5db","name":"yellow-led","pin":"12","state":"OUTPUT","arduino":"4ca26378.64a9c4","x":690,"y":580,"wires":[]},{"id":"558c5266.2ed5fc","type":"arduino out","z":"5f40e852.5b5db","name":"red-led","pin":"11","state":"OUTPUT","arduino":"4ca26378.64a9c4","x":680,"y":740,"wires":[]},{"id":"72267f70.70cee","type":"function","z":"5f40e852.5b5db","name":"Toggle","func":"context.level = !context.level || false;\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":580,"wires":[["9c47fd29.43375"]]},{"id":"fa48b328.b11d38","type":"function","z":"5f40e852.5b5db","name":"Toggle","func":"context.level = !context.level || false;\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":420,"wires":[["87205eb.9c5bc2"]]},{"id":"476ef7de.af50f","type":"delay","z":"5f40e852.5b5db","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":520,"wires":[["fa48b328.b11d38","8b9d41ff.d0e86","72267f70.70cee"]]},{"id":"8b9d41ff.d0e86","type":"delay","z":"5f40e852.5b5db","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":580,"wires":[["72267f70.70cee","21b7f265.d66ebe"]]},{"id":"b3f824c3.17aa58","type":"inject","z":"5f40e852.5b5db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":740,"wires":[["21b7f265.d66ebe"]]},{"id":"1544a02.b1334e","type":"inject","z":"4b51b902.1da438","name":"100.4 F","props":[{"p":"payload.temperature","v":"100.4","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":710,"y":260,"wires":[["b995b9f4.18c108"]]}]