Lesson9/Lesson9-flows.json
[{"id":"9379deeb.39a9f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59c0bfee.ce0d9","type":"rpi-gpio out","z":"9379deeb.39a9f","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":760,"y":140,"wires":[]},{"id":"93fa3a53.a157e8","type":"switch","z":"9379deeb.39a9f","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["52715dbe.3296f4"],["b461295b.b4ace8"]]},{"id":"52715dbe.3296f4","type":"change","z":"9379deeb.39a9f","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["59c0bfee.ce0d9"]]},{"id":"b461295b.b4ace8","type":"change","z":"9379deeb.39a9f","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["59c0bfee.ce0d9","e756c49.a7f5838"]]},{"id":"b5974a90.473d88","type":"rpi-gpio in","z":"9379deeb.39a9f","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":290,"y":160,"wires":[["93fa3a53.a157e8"]]},{"id":"e756c49.a7f5838","type":"Bme280","z":"9379deeb.39a9f","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":320,"y":260,"wires":[["f94b87bb.8975c8","a3bfbf65.9f9fc","5a360e02.2a01"]]},{"id":"f94b87bb.8975c8","type":"change","z":"9379deeb.39a9f","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[["553d249d.e8e69c","56e8dd7.c720d24"]]},{"id":"a3bfbf65.9f9fc","type":"change","z":"9379deeb.39a9f","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["aa2fc59c.d351f8","39818cde.2bafc4"]]},{"id":"5a360e02.2a01","type":"change","z":"9379deeb.39a9f","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure_hPa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["4c03e71d.137938","a40b5ec5.b898f"]]},{"id":"553d249d.e8e69c","type":"ui_gauge","z":"9379deeb.39a9f","name":"","group":"760e35c9.e1facc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"56e8dd7.c720d24","type":"ui_chart","z":"9379deeb.39a9f","name":"","group":"760e35c9.e1facc","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":260,"wires":[[]]},{"id":"aa2fc59c.d351f8","type":"ui_gauge","z":"9379deeb.39a9f","name":"","group":"9dfc1d36.9d22f","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":300,"wires":[]},{"id":"39818cde.2bafc4","type":"ui_chart","z":"9379deeb.39a9f","name":"","group":"9dfc1d36.9d22f","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":340,"wires":[[]]},{"id":"4c03e71d.137938","type":"ui_gauge","z":"9379deeb.39a9f","name":"","group":"7a8ff91c.e0bda8","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"940","max":"1020","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":380,"wires":[]},{"id":"a40b5ec5.b898f","type":"ui_chart","z":"9379deeb.39a9f","name":"","group":"7a8ff91c.e0bda8","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":420,"wires":[[]]},{"id":"760e35c9.e1facc","type":"ui_group","z":"","name":"Temperature","tab":"1e2d9dc2.432192","order":1,"disp":true,"width":"6","collapse":false},{"id":"9dfc1d36.9d22f","type":"ui_group","z":"","name":"Humidity","tab":"1e2d9dc2.432192","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a8ff91c.e0bda8","type":"ui_group","z":"","name":"Pressure","tab":"1e2d9dc2.432192","order":3,"disp":true,"width":"6","collapse":false},{"id":"1e2d9dc2.432192","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]